<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ninja Tutorial Automation Suite">
<listeners>
     <listener class-name="com.tutorialninja.qa.listeners.MyListeners" />     
</listeners>
  <test name="Ninja Tutorial Testcases">
    <classes>
      <class name="com.tutorialninja.qa.testcases.RegisterTest"/>
      <class name="com.tutorialninja.qa.testcases.SearchTest"/>
      <class name="com.tutorialninja.qa.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
